/* Put your style rules below. */

body {
  font-family: 'Arimo', sans-serif;
}

img {
  box-shadow: 4px 4px 4px gray;
}

#navbar a { color: white;}
#navbar a:hover { color: yellow; }
.btn-secondary:hover { background-color: blue; }

.movie-poster {
   filter: grayscale(100%);
   opacity: 0.7;
   transition: 1.0s;
 }

 .movie-poster:hover {
   filter: grayscale(0%);
   opacity: 1;
 }
