<!DOCTYPE html>
<html>
  <head>
    <title>PritzFlix</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Plaster" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/jquery_ujs.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  </head>
  <body>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <a class="navbar-brand" href="/">PritzFlix</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-auto">
          <li class="nav-item"><a class="nav-link" href="/movies"><i class="fas fa-lg fa-film"></i> Movies</a></li>
          <li class="nav-item"><a class="nav-link" href="/reviews"><i class="fas fa-lg fa-newspaper"></i> Reviews</a></li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/movies/new"><i class="fas fa-lg fa-plus-circle"></i> Add Movie</a></li>

        </ul>
      </div>
    </nav>

    <div class="container-fluid">

      <%= yield %>

    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
